@{
	ViewBag.Titulo = "Acerca";
	ViewBag.activoAcerca = "actual";
}


<section>
	<div class="row">
		<div id="columna-descripcion-acerca">
			<div class="col-sm-6 columna">
				<h1 id="descripcion">Acerca de nosotros:</h1>

				<p class="parrafo-descripcion">Todo-Pallets! es una empresa que nace de la idea que  hacer una web en donde la gente pueda no solo comprar productos elaborados por especialistas sino también subir sus propios proyectos hechos con pallets. Y que puedan dar su voto</p>

				<p class="parrafo-descripcion">Desde nuestro lugarcito en el mundo queremos brindarle todas las posibilidades a nuestros visitantes, de que conozcan los mejores diseños de nuestros exclusivos y anónimos creadores. Y ni hablar de nuestros usuarios. ¿Por qué no darles la oportunidad a ellos de hacer lo mismo?</p>

				<p class="parrafo-descripcion">Con paciencia y tenacidad buscamos hacernos conocer en el campo del diseño y también en los amantes de muebles originales. Y creemos que los muebles de pallets son una idea brillante que cualquiera puede reproducir si cuenta con voluntad y se propone hacerlo.</p>

				<p class="parrafo-descripcion">¿Queres sumarte? Adelante entonces! Ya tenes nuestra web a tu disposición.</p>
			</div>

			<div class="col-sm-6">
				<div id="imagen-acerca"></div>
			</div>
		</div>
	</div>
</section>