<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!-- Strings necesarios para la conexión con la cuenta propia de gmail de Todo-Pallets!: -->

		<add key="ContactMailSubject" value="[Todo-Pallets!- Consulta desde formulario de contacto]" />
    <add key="ContactMailSMTPHost" value="smtp.gmail.com" />
    <add key="ContactMailSMTPPort" value="587" />
    <add key="ContactMailSMTPUsername" value="todo.pallets.consultas" />
    <add key="ContactMailSMTPPassword" value="todopallets12345" />

  </appSettings>

	<!-- Strings necesarios para conexión con el servidor de somee.com: -->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="workstation id=TodoPallets.mssql.somee.com;packet size=4096;user id=eldoc_SQLLogin_1;pwd=6ekywfca59;data source=TodoPallets.mssql.somee.com;persist security info=False;initial catalog=TodoPallets;"  />
  </connectionStrings>

	<!-- String para conexión en computadora local:
	connectionString="Data Source=localhost\SQLEXPRESS; Initial Catalog=TodoPallets; Integrated Security=SSPI;"
	-->

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
